.project-container {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.25rem;
}
.project-card {
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  height: auto;
  margin-top: 20px;
}
.project-thumb {
  position: relative;
  overflow: hidden;
}
.project-category {
  background-color: var(--first-color);
  color: var(--title-color);
  border-bottom-left-radius: 0.9375rem;
  border-bottom-right-radius: 0.9375rem;
  position: absolute;
  top: 0;
  right: 1.25rem;
  font-size: var(--small-font-size);
  display: inline-block;
  padding: 0.125rem 0.5rem;
  z-index: 1;
}
.project-details {
  background-color: var(--container-color);
  padding: 1.25rem;
}
.project-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}
.project-description {
  margin: 1rem 0;
  text-align: justify;
}
.project-meta {
  display: flex;
  column-gap: 0.6rem;
  font-size: var(--small-font-size);
}
@media screen and (max-width: 1024px) {
  .project-container {
    grid-template-columns: 330px 330px 330px;
    justify-content: center;
    row-gap: 1.875rem;
  }
}
@media screen and (max-width: 768px) {
  .project-container {
    grid-template-columns: 100%;
  }
  .filter-buttons {
    justify-content: flex-start;
    gap: 1rem;
  }
}
@media screen and (max-width: 350px) {
  .project-container {
    grid-template-columns: 1fr;
  }
  .filter-buttons {
    justify-content: center;
    gap: 0.8rem;
  }

  .filter-button {
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
  }
}
/* Filter Buttons Styling */
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap; /* Allows buttons to wrap to the next line if space is limited */
}

.filter-button {
  background-color: var(--container-color);
  color: var(--title-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button:hover,
.filter-button.active {
  background-color: var(--first-color);
  color: var(--container-color);
}
